$font-stack: 'indie-flower','Open Sans';


@font-face {
  
  font-family: 'indie-flower';
  src: local('indie-flower'), url(../fonts/indie-flower-v17-latin/indie-flower-v17-latin-regular.ttf) format('truetype');
 
}


.header {

  font-family: $font-stack;
  
}


