@import 'Fonts.scss';

$colourfulBackground: url('../images/colourful_background_960_by_720.jpg');


.title {

  font-family: $font-stack;
  background-image: $colourfulBackground;
  background-attachment: fixed;
  background-clip: text;
  color: transparent;

  
}


h1 {

  font-size: 12vw;
 
}

