@import 'Fonts';
@import 'Colors';



$default-background-color: white;
$default-border: 0px solid black;
$default-color: black;
$default-padding: 0px;

.Panel {

  border: $default-border;
  background-color: $default-background-color;
  color: $default-color;
  padding: $default-padding;
 
}



$default-title-color: $royalBlue;


.panelTitle {

  color: $default-title-color;
  
}



$default-box-background-color: $softBlue;
$default-box-border: 4px solid $royalBlue;
$default-box-color: black;
$default-box-padding: 4px;
$default-box-margin: 4px;
$default-box-display: inline-block;


.coloredBox {

  border: $default-box-border;
  background-color: $default-box-background-color;
  color: $default-box-color;
  padding: $default-box-padding;
  margin: $default-box-margin;
  display: $default-box-display;
 
}

